@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('/public/fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('/public/fonts/Gilroy-Semibold.woff') format('woff'),
  url('/public/fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Bold';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('/public/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('/public/fonts/Gilroy-Bold.woff') format('woff'),
  url('/public/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #8476AA;
}

body {
  width: 100vw;
  /*height: 5421px;*/
  background: url("/public/images/BgImg.png") no-repeat top;
  background-size: cover;
  object-fit: cover;
  position: relative;
  overflow-x: hidden;
}